{% extends 'main/base.html' %}

{% block title %}
HOME
{% endblock %}

{% block content %}
<style> 
      .grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
        gap: 20px;
      }

      .card {
        max-width: 400px;
        background-color: rgb(7 16 45);
        background: linear-gradient(to top right, rgb(7 16 45), rgb(58 60 84));
        background: -webkit-linear-gradient(to top right, rgb(7 16 45), rgb(58 60 84)); 
        display: grid;
        padding: 20px;
        border-radius: 20px;
        border: 1px solid rgb(84 90 106);
      }

      .card:hover {
        color: #fff;
        background-color: #1A1A1A;
        box-shadow: rgba(0, 0, 0, 0.5) 0 10px 20px;
        transform: translateY(-3px);
      }
      
      .small-text, .title,.desc {
        font-weight: 600;
      }
      
      .title,.desc {
        margin: 8px 0;
      }
      
      .small-text {
        color: #488aec;
        font-size: 14px;
      }
      
      .title {
        color: #fff;
        text-decoration: none;
        font-size: 26px;
        line-height: 26px;
      }
      
      .desc {
        color: rgb(151 153 167);
        font-size: 13px;
      }
</style>
    <div class="grid">
      {% for project_data in projects %}
      <a href="{{ project_data.project.id }}" class="title">
        <div class="card">
            <span class="small-text">{{ project_data.username }}</span>
            <span class="title">{{ project_data.project.name }}</span>
        </div>
      </a>
      {% endfor %}
    </div>
{% endblock %}